/* ESTILOS DEL FOOTER */
@use "../mixins/responsive.scss" as *;



.footer{
    background-color: #07043B;
    padding: 2rem;
    padding-top: 5rem;
    color: white;
    @include responsive(laptop) {
    padding: 5rem;
                  }
    
}
.logo{
    color: white;
    margin-bottom: 1rem;
    
}
.grid-footer{
    display: grid;
    @include responsive(laptop) {
        display: grid;
        height: 216px;
        gap: 1rem;
        grid-template-columns: 330px 330px 330px 330px;
        grid-template-rows: 216px;
                  }
}
.grid-item{
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    margin-top: 1rem;
}

.name{
    position: relative;
    margin-top: -1rem;
    margin-left: 2.1rem;
}
.namemail{
    position: relative;
    margin-top: -1rem;
    margin-left: 2.1rem;
}
.logomail{
    padding-top: 1rem;
}